/* src/global.css */
body {
  margin: 0;
  /* background: #fafafa; */
  /* background: #141414; */
  /* background: #0f1218; */
  background: #141519;
}
html {
  padding: 0;
  margin: 0;
}

*:focus {
  /* outline: 2px solid #1f1f1f;
  outline: 2px solid #515151;
  outline: 2px solid #00061b; */
  border-radius: 3px;
}

li:focus {
  outline: none;
}

details {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation-duration: 300ms;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

.fade-in-spinner {
  margin: 200px auto 0 auto;
  width: min-content;

  opacity: 0;
  animation-duration: 2000ms;
  animation-name: fadeIn;
  animation-delay: 4000ms;
  animation-fill-mode: forwards;
}

.fade-in-book-item {
  margin: 200px auto 0 auto;
  width: min-content;

  opacity: 0;
  animation-duration: 100ms;
  animation-name: fadeIn;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

dt {
  font-weight: bold;
}

.modal-close-button {
  height: max-content;
  padding: 11px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
  margin-top: 24px;
  position: absolute;
  width: 100px;
  right: 0;
  top: 0px;
}

.modal-close-button:hover,
.read-modal-close-button:hover {
  background-color: #111;
}

.read-modal-close-button {
  height: max-content;
  padding: 11px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #777;
  color: #fff;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
}

.szh-menu-container ul.szh-menu {
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: none;
  /* font-style: italic; */
  font-size: 18px;
}

.szh-menu-container ul.szh-menu li:not(.szh-menu__divider) {
  padding-top: 8px;
  padding-bottom: 8px;
}

* > * {
  -webkit-user-drag: none;
}
